<%- include('includes/header') %>
<!-- header ends here -->

<body>
  <div class="newsletter-subscribe">
    <div class="container">
      <%- include('includes/flash.ejs') %>
      <div class="intro">
        <h2 class="text-center">Account Confirmation</h2>
        <div class="alert alert-info" role="alert">
          <span class="text-center d-lg-flex justify-content-lg-center"
            ><strong
              >Please click the confirmation link we have sent you over at the
              email address : <%= email%></strong
            ></span
          >
        </div>
        <div class="alert alert-light text-black-50" role="alert">
          <span
            ><strong
              >The confirmation link was sent to your inbox, if you don't seem
              to find it, please consider checking your spam folder or click
              RESEND.</strong
            ><br
          /></span>
        </div>
      </div>
      <form
        class="form-inline"
        method="post"
        style="align-content: right; justify-content: center"
      >
        <div class="form-group">
          <div class="btn-group" role="group">
            <button
              class="btn btn-warning d-lg-flex justify-content-lg-start"
              type="submit"
            >
              RESEND
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="../public/jquery.min.js"></script>
  <script src="../public/bootstrap.min.js"></script>
</body>

<%- include('includes/footer')%>
